<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BoardDao">
	<select id = "list" resultType = "com.example.demo.dto.BoardDto">
		select *
		  from board
	</select>
	
	<select id = "detail" parameterType="int" resultType="com.example.demo.dto.BoardDto">
		select *
		  from board
		 where bno = #{bno}
	</select>
	
	<insert id = "write" parameterType="com.example.demo.dto.BoardDto">
		insert into board (user_id, title, content, write_date)
		values (#{userId}, #{title}, #{content}, now())
	</insert>
	
	<update id = "update" parameterType="com.example.demo.dto.BoardDto">
		update board set title = #{title}, content = #{content}
		 where bno = #{bno}
	</update>
	
	<delete id = "delete" parameterType="int">
		delete from board
		 where bno = #{bno}
	</delete>
</mapper>